<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>When It Comes Out</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
<div th:replace="~{parts/nav :: nav}"></div>

<div class="content">
    <div class="col">
        <div class="col-left">
            <img th:src="${game.imgURL}" class="img-fluid">
        </div>
        <div class="col-right">
            <h1 th:text="${game.name}">Game Name</h1>
            <p th:text="${'Summary: ' + game.summary}">Game Summary</p>
            <p th:text="${'Date: ' + game.date}">Release Date</p>

            <p>Platform:</p>
            <ul th:each="platform : ${game.platforms}">
                <li th:text="${platform}">Platform</li>
            </ul>

            <p>Genre:</p>
            <ul th:each="genre : ${game.genres}">
                <li th:text="${genre}">Genre</li>
            </ul>
        </div>
    </div>
</div>


</body>
</html>