<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.css">
    <title>Game calendar</title>
</head>
<body>
<header class="d-flex justify-content-between container">
    <div class="logo">When It Comes OUT (TBD)</div>
    <div class="gap-4 d-flex">
        <a href="http://localhost:8080/main">Главная</a>
        <a href="http://localhost:8080/game">Игры</a>
    </div>
</header>

<div style="width:100%;" class="snippet-container p-3">
    <div class="calendar g-base">
        <div class="calendar-text">
            <span>НОВЫЕ игры</span>
            <span>Март 2024 - 23 новых релиза</span>
        </div>

        <div class="table-responsive">
            <table class="table game-calendar">
                <thead>
                <tr>
                    <th scope="col">Пн</th>
                    <th scope="col">Вт</th>
                    <th scope="col">Ср</th>
                    <th scope="col">Чт</th>
                    <th scope="col">Пт</th>
                    <th scope="col">Сб</th>
                    <th scope="col">Вс</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img
                            src="https://www.onlinethreatalerts.com/article/2023/1/25/4-major-benefits-of-playing-video-games/0.png"
                            alt="Game 1"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><img
                            src="https://www.onlinethreatalerts.com/article/2023/1/25/4-major-benefits-of-playing-video-games/0.png"
                            alt="Game 4"></td>
                </tr>
                <tr>
                    <td><img
                            src="https://www.onlinethreatalerts.com/article/2023/1/25/4-major-benefits-of-playing-video-games/0.png"
                            alt="Game 2"></td>
                    <td></td>
                    <td></td>
                    <td><img
                            src="https://www.onlinethreatalerts.com/article/2023/1/25/4-major-benefits-of-playing-video-games/0.png"
                            alt="Game 1"></td>
                    <td><img
                            src="https://www.onlinethreatalerts.com/article/2023/1/25/4-major-benefits-of-playing-video-games/0.png"
                            alt="Game 3"></td>
                    <td><img
                            src="https://www.onlinethreatalerts.com/article/2023/1/25/4-major-benefits-of-playing-video-games/0.png"
                            alt="Game 4"></td>
                    <td></td>
                </tr>
                <tr>
                    <td><img
                            src="https://www.onlinethreatalerts.com/article/2023/1/25/4-major-benefits-of-playing-video-games/0.png"
                            alt="Game 1"></td>
                    <td><img
                            src="https://www.onlinethreatalerts.com/article/2023/1/25/4-major-benefits-of-playing-video-games/0.png"
                            alt="Game 2"></td>
                    <td><img
                            src="https://www.onlinethreatalerts.com/article/2023/1/25/4-major-benefits-of-playing-video-games/0.png"
                            alt="Game 3"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><img
                            src="https://www.onlinethreatalerts.com/article/2023/1/25/4-major-benefits-of-playing-video-games/0.png"
                            alt="Game 4"></td>
                </tr>
                <tr>
                    <td><img
                            src="https://www.onlinethreatalerts.com/article/2023/1/25/4-major-benefits-of-playing-video-games/0.png"
                            alt="Game 1"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><img
                            src="https://www.onlinethreatalerts.com/article/2023/1/25/4-major-benefits-of-playing-video-games/0.png"
                            alt="Game 2"></td>
                    <td><img
                            src="https://www.onlinethreatalerts.com/article/2023/1/25/4-major-benefits-of-playing-video-games/0.png"
                            alt="Game 3"></td>
                    <td><img
                            src="https://www.onlinethreatalerts.com/article/2023/1/25/4-major-benefits-of-playing-video-games/0.png"
                            alt="Game 4"></td>
                </tr>
                <!-- Добавь остальные строки с играми здесь -->
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
