<nav class="content" th:fragment="nav">
    <div class="nav-logo">
        <a href="/"><span>When it comes out</span></a>
    </div>
    <div class="search">
        <button><i class="ri-search-2-line"></i></button>
        <input type="text" placeholder="Search">
    </div>
    <ul class="nav-links">
        <li class="link"><a th:href="@{/music}">Music</a></li>
        <li class="link"><a th:href="@{/anime}">Anime</a></li>
        <li class="link"><a th:href="@{/movies}">Movie</a></li>
        <li class="link"><a th:href="@{/game}">Game</a></li>
    </ul>
</nav>